* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

@font-face {
    font-family: "dumbnerd";
    src: url(dumbnerd-webfont.ttf) format("truetype");
}

body {
    font-family: "dumbnerd";
    font-size: 8rem;
}


section {
    height: 100vh;
    display: flex;
    justify-content: center;
}

@keyframes coloreAnimazione {
    50% {
    fill: #FBB732; 
    }
    100% {
    fill: #000000; 
    }
}

.svg-animato {
    animation: coloreAnimazione 5s ease-in-out infinite alternate; 
}